body {
    background-color: #0f4e5f;
    margin: 0;
}

div.header {
    align-items: center;
    background-image: url("../img/light-sunset-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 800px;
    justify-content: center;
    margin: 0 0 5 0;
    max-width: 100%;
}

h1, h3 {
    color: #6D9886;
}

hr {
    color: #F2E7D5;
    opacity: 0.6;
    size: "2";
    width: 45%;
}