.body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
}
.body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#body-container {
    background-color: #273035;
    margin: 0;
    max-width: 100%;
}

div.header-row {
    align-items: center;
    background-image: url("../img/grn-mtn-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

#header-col {
    margin-top: 100px;
}

#intro-row {
    margin-right: auto;
    margin-left: auto;
    max-width: 70%;
}

h1 {
    color: #c4f4f4;
}

#current-roles-row {
    margin-top: 300px;
    margin-right: auto;
    margin-left: auto;
    max-width: 70%;
}

#current-roles-col {
    background-color: rgba(0, 0, 0, 0.03);
}

#current-roles-info {
    background-color: rgba(0, 0, 0, 0.05);
    max-width: 75%;
}

.splitter {
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
}

hr {
    color: #83bdbd;
}

.resume {
    color: #c4f4f4;
    margin: 5px;
    max-width: 30%;
}

#roles-table {
    color: #83bdbd;
}
